<!--index.ejs-->
<!DOCTYPE html>
<html>
<head>
    <title>家福的游戲</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        #joinGame {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        #joinGame button {
            font-size: 1.5rem; /* Tăng kích thước chữ */
            padding: 0.5em 1.5em; /* Điều chỉnh padding để làm nút lớn hơn */
        }
        .message {
            text-align: center;
            font-size: 1.5rem;
            position: absolute;
            width: 100%;
            top: 30%;
        }
    </style>
</head>
<body>
    <% if (typeof message !== 'undefined') { %>
        <div class="message"><%= message %></div>
    <% } %>
    <div id="joinGame" class="text-center">
        <form id="joinForm">
            <input type="text" id="playerName" placeholder="輸入名字" required class="form-control mb-3">
            <button type="submit" class="btn btn-primary btn-lg">Play</button>
        </form>
    </div>
    <!-- Thêm các file JavaScript nếu cần -->
</body>
<script>
// Trong index.ejs
document.getElementById('joinForm').addEventListener('submit', function(e) {
    e.preventDefault();
    var playerName = document.getElementById('playerName').value;
    localStorage.setItem('playerName', playerName);
    window.location.href = '/gameplay';
});

</script>
</html>
