<!--index.ejs-->
<!DOCTYPE html>
<html>
<head>
    <title>Trò Chơi</title>
    <!-- Thêm các file CSS nếu cần -->
    <script src="/socket.io/socket.io.js"></script>
</head>
</head>
<body>
    <div id="joinGame">
        <form id="joinForm">
            <input type="text" id="playerName" placeholder="Nhập tên của bạn" required>
            <button type="submit">Play</button>
        </form>
    </div>

    <!-- Thêm các file JavaScript nếu cần -->
<!-- Nội dung khác của file EJS -->
<script src="/main.js"></script>
</body>
</html>
